<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<springProperty name="appVersion" source="app.version" />
	<springProperty name="appName" source="app.name" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<!-- <customFields>
				{"app_name": "${APP_NAME}", "pod_name": "${POD_NAME}", "namespace": "${NAMESPACE}"}
			</customFields> -->
			<customFields>
				{"app_version": "${appVersion}", "app_name": "${appName}"}
			</customFields>
			<jsonGeneratorDecorator
				class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>
